.main-visual {
  &-text {
    background-color: #F5B05F;
    color: white;
    height: 39px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 39px;
  }
}