@import '../../../variables.scss';

.header {
  .pc {
    padding: 0 20px;
  }
}
.banner-menu {
  position: relative;
  font-size: 10px;
  display: flex;
  height: 100px;

  .logo {
    font-family: "Baskerville";
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    &_img {
      width: 200px;
    }
  }
}

.banner-menu span{
  display: block;
  margin-top: 25px;
}

.banner-menu nav{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.banner-menu nav ul {
  display: flex;
  white-space: nowrap;
  list-style: none;
}

.banner-menu nav ul li {
  position: relative;
  text-align: center;
  line-height: 1;
  padding: 0 18px;
  font-size: 14px;
}

.banner-menu nav ul li:hover {
  color: #f58610;
}

.banner-menu nav ul li:hover .dropdown{
  display: block;
  color: white;
}

.banner-menu nav ul li a{
  display: inline-block;
  padding: 30px 0;
  text-decoration: none;
  font-size: 18px;
  line-height: 16px;
  color: $text-color;
}

.banner-menu nav ul li .dropdown li a {
  display: inline-block;
  padding: 15px 0;
}

.banner-menu nav ul li .dropdown{
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  left: 0px;
  left: 0px;
  z-index: 1000;
  min-width: 100%;
  text-align: left;
}

.banner-menu nav ul li .dropdown li {
  font-size: 12px;
  line-height: 10px;
  width: 100%;
  text-align: left;
}


.menu-toggle {
  cursor: pointer;
  width: 2em;
  width: 100%;
}

nav {
    margin: 0;
    padding: 0;
}

nav.sp {
	position: relative;
  justify-content: flex-end;
  height: 67px;

  @media only screen and (max-width: 768px) {
    display: flex;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;

    img {
      width: 150px;
    }
  }
}

nav.sp ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
	position: absolute;
	width: 100%;

  &.sp-menu {
    display: block;

    .sp-menu-item {
      margin-top: 30px;

      a {
        font-size: 20px;
        line-height: 16px;
        text-decoration: none;
        color: $text-color;
      }
    }

    .tel {
      margin-top: 74px;
    }
  }
}


nav.sp li:last-child {
  border-bottom: none;
}

nav.sp a:hover,
nav.sp a:focus {
  background: #E4B363;
}

.site-nav--icon {
  font-size: 1.4em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

@media only screen and (max-width: 1400px) {
  .banner-menu {
    width: 100%;
  }

  .banner-menu span {
      display: none;
      width: 100%;
  }
}


@media screen and (max-width: 767px) {
  .menu-toggle {
    display: block;
  }

  h1.logo {
    margin: 0;
  }
  
}