.section-title {
  &.text {
    &-center {
      text-align: center;
    }
    &-start {
      text-align: left;
    }
  }

  h2 {
    color: black;
    font-size: 34px;
    line-height: 39px;
    font-weight: 400;
  }
}