.contact {
  margin: 64px auto 0;
  width: 880px;

  @media only screen and (max-width: 880px) {
    width: 100%;

    &-form {
      padding: 0 25px;
    }
  }

  &-row {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 24px;
        
    .col-6 {
      width: 48%;
    }
  }

  .justify-between {
    justify-content: space-between;
  }

  &-form-title {
    display:flex;
    justify-content: center;
  }
}