.main-visual-container {
  display: flex;
  padding: 0 33px;

  .wrapper1 {
    width: 490px;
  }

  .wrapper2 {
    width: 380px;
  }

  .wrapper3 {
    width: 450px;
  }

  .image-wrapper {
    display: flex;
    align-items: flex-end;

    img {
      width: 100%;
      vertical-align: bottom;
    }

    .main_logo {
      width: 90%;
      margin-bottom: 24px;
    }
  }
}