@import '../../../variables.scss';

.link-button {
  display: flex;
  align-items: center;
  width: fit-content;

  a {
    line-height: 39px;
    padding:  0 16px;
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px solid $text-color;
  }
}