.item {
  padding-bottom: 30px;
  
  &-img {
    width: 100%;
  }

  &-title {
    text-align: left;
    font-family: 'Noto Serif JP';
  }

  &-price {
    text-align: right;
    font-family: 'Noto Serif JP';
  }

  .dots {
    display: flex;
  }
}