@import '../../../variables.scss';

.about {
  margin: 192px auto 0;
  width: 1000px;

  @media only screen and (max-width: 1000px) {
    width: 100%;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 0;
  }

  &-container {
    display: flex;

    @media only screen and (max-width: 1000px) {
      display: block;
    }

    &-text {
      margin-left: 56px;
      padding-top: 60px;
      position: relative;
      text-align: left;

      @media only screen and (max-width: 767px) {
        margin: 50px 25px 0;
        padding-top: 0;
      }

      &-title {
        display: flex;
        justify-content: center;
      }

      &-circle {
        position: absolute;
        top: 0;
        left: -30px;
        width: 500px;
        height: 500px;
        border: 1px dashed #b4b4b4;
        border-radius: 500px;
        z-index: -10;
      }

      p {
        font-family: 'Noto Serif JP';
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
      }

      &-linkbtn {
        display: flex;
        justify-content: start;

        @media only screen and (max-width: 767px) {
          justify-content: center;
        }
      }
    }

    &-image {
      width: 45.57%;

      img {
        width: 100%;
      }

      @media only screen and (max-width: 1000px) {
        &.sp {
          width: calc(100% - 10px);
          padding: 0 5px;
          display: flex;

          img {
            width: calc(50% - 10px);
            padding: 0 5px;
          }
        }
        &.pc {
          display: none;
        }
      }
    }
  }
}