.items-section {
  margin: 190px auto 0;
  width: 880px;
  
  @media only screen and (max-width:1000px) {
    width: 100%;
  }

  @media only screen and (max-width:767px) {
    margin-top: 60px;

    .swiper-button-prev, .swiper-button-next {
      display: none;
    }

    &-container {
      padding: 0 25px;
    }
  }

  &-linkbtn {
    display: flex;
    justify-content: center;
  }

  &-title {
    display: flex;
    justify-content: center;

    @media only screen and (max-width:767px) {
      justify-content: start;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #B8B8B8;
  }
}