.textarea {
  display: block;
  width: 100%;

  &-label {
    font-family: 'Noto Serif JP';
    text-align: left;
    height: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 8px;
  }

  &-input {
    font-family: 'Noto Serif JP';
    width: calc(100% - 20px);
    border: 1px solid #B8B8B8;
    border-radius: 6px;
    padding: 8px;

    &:focus {
      outline: none !important;
      border:1px solid #B8B8B8;
      box-shadow: 0 0 10px #B8B8B8;
    }
  }
}