.main-visual {
  .sp {
    padding: 0;
    width: 100%;

    .main_img {
      width: 100%;
      display: block;
    }

    .logo_img {
      width: 100%;

      img {
        width: 64%;
        margin: 80px auto 40px;
      }
    }
  }
}